apiVersion: v1
kind: Pod
metadata:
  annotations:
    io.podman.annotations.userns: keep-id:uid=1654
  labels:
    app: {{ pod }}
  name: {{ pod }}
spec:
  containers:
    - image: {{ img_maw_photos }}
      imagePullPolicy: IfNotPresent
      name: {{ container_photos }}
      args:
        - nginx
        - -g
        - daemon off;
      ports:
        - containerPort: 4200
          hostPort: 4200
      securityContext:
        readOnlyRootFilesystem: true
        runAsGroup: 0
        runAsUser: 1654
      volumeMounts:
        - mountPath: /var/cache/nginx:Z
          name: varcache
        - mountPath: /var/run:Z
          name: varrun
        - mountPath: /certs:Z
          name: secrets
          readOnly: true
  volumes:
    - hostPath:
        path: {{ dir_varcache }}
        type: Directory
      name: varcache
    - hostPath:
        path: {{ dir_varrun }}
        type: Directory
      name: varrun
    - hostPath:
        path: {{ dir_photosecrets }}
        type: Directory
      name: secrets
